:root {
    --heading:   rgb(164, 129, 245);
    --section-L: rgb(141, 14, 14);
    --section-R: rgb(77, 1, 128);
    --body-font: rgb(249, 253, 17);
  }

body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-font);
}

#button {
    background: linear-gradient(to bottom, var(--heading), var(--body-font));
    border-radius: 20px;
}

#button:hover{
    background: linear-gradient(to bottom, var(--section-L), var(--heading));
}

.data-slots {
    border: 1px;
    margin: 1px;
    padding: 1px;

    border-style: solid;
    border-color: var(--section-L);
    border-width: 2px;

    display: flex;
    align-items: center;
}

#dataGrid{
    display: grid;
    border-radius: 20px;
    /* grid-column-gap: 1px;
    grid-row-gap: 1px; */
    grid-template-columns:  30% 70%;
    grid-template-rows:     repeat(17, 20px);
}

#data-label-25 {
    
}

#heading {
    backdrop-filter: blur(8px);
    color: var(--heading);
    font-family: 'Black Ops One', cursive;
    text-align: center;
    transition: 1s;
}

#heading:hover {
    color: var(--body-font);
    transition: 1s;
}

#input {
    background: var(--heading);
    border-radius: 20px;
    text-align: center;
}

/*----------------------The page is divided into these two sections------------------------*/
#left-section {
    backdrop-filter: blur(5px);
    border-color: var(--section-L);
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 500px;
}

#right-section {
    backdrop-filter: blur(5px);
    border-color:  var(--section-R);
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    width: 70%;
    height: 500px;
}
/*-----------------------------------------------------------------------------------------*/

.sections-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}