:root {
    --heading:   rgb(253, 246, 181);
    --section-border: rgb(7, 199, 233);
    --body-font: rgb(74, 75, 32);
  }

#button {
    background: linear-gradient(to bottom, var(--section-border), var(--heading));
    border-radius: 20px;
}

#button:hover{
    background: linear-gradient(to bottom, rgb(112, 219, 238), var(--heading));
}

#copyright {
    backdrop-filter: blur(18px);
    text-align: center;
}

.data-slots {
    border: 0px;
    margin: 0px;
    padding: 0px;

    background: linear-gradient(to right, #ffffff, var(--section-border));

    border-style: solid;
    border-color: var(--section-border);
    border-width: 2px;

    display: flex;
    align-items: center;
}

#dataGrid{
    display: grid;
    border-radius: 20px;
    grid-template-columns:  30% 70%;
    grid-template-rows:     repeat(17, auto);
}

#data-label-0 {
    border-radius: 10px 0px 0px 0px;
}

#data-label-25 {
    border-radius: 10px 0px 0px 0px;
}

#heading {
    backdrop-filter: contrast(64%);
    border-radius: 20px;
    text-align: center;

    height: 100%;
    border: 30px;
    margin: 30px;
    padding: 30px;
}

#input {
    background: var(--heading);
    border-radius: 20px;
    text-align: center;
}

/*----------------------The page is divided into these two sections------------------------*/
#left-section {
    /* backdrop-filter: blur(5px); */
    backdrop-filter: contrast(54%);
    border-color: var(--section-border);
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    
    margin: 2px;   

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 500px;
}

#right-section {
    backdrop-filter: blur(5px);
    border-color:  var(--section-border);
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    width: 70%;
    height: 500px;
}
/*-----------------------------------------------------------------------------------------*/

.sections-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}